debug: false

custom:
  kafka:
    broker: kafka:29092
    topics:
      separator: ""
      names:
        stats: stats
        linear-acceleration: linear_acceleration
        accelerometer: accelerometer
        gyroscope: gyroscope
        light: light
        linear-acceleration-rounded: linear_acceleration_rounded
        all-sensors: all-sensors
        user-ids: user-ids

# Native Encoding enables the kafka serialization/deserialization
spring:
  cloud:
    stream:
      default.producer:
        useNativeEncoding: true
      default.consumer:
        useNativeEncoding: true
      bindings:
        input:
          contentType: application/*+avro
          consumer.useNativeDecoding: true
        output:
          producer.useNativeEncoding: true

        # Join all sensor topics to one aggregated topic
        all-linear-acceleration-in:
          destination: ${custom.kafka.topics.names.linear-acceleration}
        all-linear-acceleration-out:
          destination: ${custom.kafka.topics.names.all-sensors}

        all-accelerometer-in:
          destination: ${custom.kafka.topics.names.accelerometer}
        all-accelerometer-out:
          destination: ${custom.kafka.topics.names.all-sensors}

        all-gyroscope-in:
          destination: ${custom.kafka.topics.names.gyroscope}
        all-gyroscope-out:
          destination: ${custom.kafka.topics.names.all-sensors}

        all-light-in:
          destination: ${custom.kafka.topics.names.light}
        all-light-out:
          destination: ${custom.kafka.topics.names.all-sensors}

        # Configure the bindings
        user-ids-in:
          destination: ${custom.kafka.topics.names.all-sensors}
        user-ids-out:
          destination: ${custom.kafka.topics.names.user-ids}

        stats-in:
          destination: ${custom.kafka.topics.names.all-sensors}
        stats-out:
          destination: ${custom.kafka.topics.names.stats}

        linear-acceleration-rounded-in:
          destination: ${custom.kafka.topics.names.linear-acceleration}
        linear-acceleration-rounded-out:
          destination: ${custom.kafka.topics.names.linear-acceleration-rounded}

      # Configure the kafka streams binder to consume messages
      kafka.streams:
        binder:
          brokers: ${custom.kafka.broker}
          configuration:
#            default.key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
            default.key.serde: io.confluent.kafka.streams.serdes.avro.PrimitiveAvroSerde
            default.value.serde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
            schema.registry.url: http://schema-registry:8081
            cache.max.bytes.buffering: 0
        bindings:
          all-linear-acceleration-in:
            consumer:
              application-id: detector-all-linear-acceleration-in
          all-linear-acceleration-out:
            consumer:
              application-id: detector-all-linear-acceleration-out
          all-accelerometer-in:
            consumer:
              application-id: detector-all-accelerometer-in
          all-accelerometer-out:
            consumer:
              application-id: detector-all-accelerometer-out
          all-gyroscope-in:
            consumer:
              application-id: detector-all-gyroscope-in
          all-gyroscope-out:
            consumer:
              application-id: detector-all-gyroscope-out
          all-light-in:
            consumer:
              application-id: detector-all-light-in
          all-light-out:
            consumer:
              application-id: detector-all-light-out
          # Configure the bindings
          user-ids-in:
            consumer:
              application-id: detector-user-ids-in
          user-ids-out:
            producer:
#              keySerde: org.apache.kafka.common.serialization.Serdes$LongSerde
#              keySerde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
              keySerde: io.confluent.kafka.streams.serdes.avro.PrimitiveAvroSerde
#              valueSerde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
            consumer:
              application-id: detector-user-ids-out
          stats-in:
            consumer:
              application-id: detector-stats-in
          stats-out:
            consumer:
              application-id: detector-stats-out
          linear-acceleration-rounded-in:
            consumer:
              application-id: detector-linear-acceleration-rounded-in
          linear-acceleration-rounded-out:
            consumer:
              application-id: detector-linear-acceleration-rounded-out
